<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/">Denning Technologies</NavLink>
        <div class="navbar-nav ms-auto">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill"></span> Home
            </NavLink>
            <NavLink class="nav-link" href="/about" Match="NavLinkMatch.All" hidden="true">
                <span class="bi bi-person-lines-fill"></span> About
            </NavLink>
        </div>
    </div>
</nav>
